:root {
  --bg-gradient-onyx: linear-gradient(to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(to bottom right,
      hsl(45, 100%, 71%) 0%,
      hsla(36, 100%, 69%, 0) 50%);
  --bg-gradient-yellow-2: linear-gradient(135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  --text-gradient-yellow: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
  --sidebar-gradient: linear-gradient(to top left, #D6F5E9, #FFF5E6);
  --main-content-gradient: linear-gradient(to top left, #AEEFD4, #063D0F);
  --text-color-light: #e0e0e0;
  --text-color-dark: #b0b0b0;
  --highlight-color: #34617e;
  /* Dark orange for highlights */
  ---background-color: #080606;
  --font-family: 'Poppins', sans-serif;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);

}

body {
  display: flex;
  justify-content: flex-start;
  /* Align items to the start (left) */
  align-items: flex-start;
  /* Align items to the start (top) */

  background: radial-gradient(circle, rgba(238, 174, 202, 1) 1%, rgba(148, 187, 233, 1) 100%);
  color: var(--text-color-light);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Ensure the body takes full height */
  overflow-x: hidden;

  /* Prevent horizontal scroll */
}


.sidebar {
  position: fixed;
  /* Fix the sidebar to the left side */
  margin-top: 60px;
  margin-left: 150px;
  height: 80vh;
  /* Full height of the viewport */
  width: 250px;
  /* Set the width of the sidebar */
  background: var(--bg-gradient-onyx);

  /* Border on the right side */
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
}

.main-content {
  position: relative;
  margin-top: 60px;
  margin-left: 420px;
  overflow: hidden;
  width: 900px;
  flex-grow: 1;
  background: var(--bg-gradient-onyx);
  border-right: 1px solid var(--jet);
  box-shadow: var(--shadow-1);
  /* Adjust this based on sidebar width */
  padding: 20px;

  border-radius: 30px 30px 30px 30px;


}

.experience-card {
  display: flex;
  flex-direction: column;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin-bottom: 20px;
}

.experience-image-container {
  position: relative;
  margin: auto;
}

.experience-image {
  width: 60%;
  height: auto;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.experience-image-container:hover .overlay {
  opacity: 1;
}

.overlay-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.overlay-icon {
  width: 40px;
  height: 40px;
}

.experience-details {
  padding: 20px;
}

.experience-year {
  font-size: 14px;
  color: #aaa;
}

.experience-technologies {
  font-size: 14px;
  color: #aaa;
  margin: 5px 0;
}

.experience-title {
  font-size: 18px;
  margin: 10px 0;
}

.experience-company {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 10px;
}

.experience-description {
  font-size: 14px;
  line-height: 1.6;
}



.projects-grid {
  display: grid;
  overflow-y: hidden;
  grid-template-columns: repeat(2, 1fr);
  /* Adjusted to two columns for larger cards */
  gap: 40px;
  padding: 20px;
}

.project-card {
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  overflow: hidden;
  margin-bottom: 20px;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.project-image:hover {
  transform: scale(1.05);
}

.project-details {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-title {
  font-size: 24px;
  /* Increased font size */
  margin: 10px 0;
}

.project-role {
  font-size: 18px;
  /* Increased font size */
  color: #aaa;
}

.project-role a {
  color: var(--orange-yellow-crayola);
  text-decoration: none;
}

.project-role a:hover {
  color: #7e8700;
}


.separator {
  width: 100%;
  height: 1px;
  background: var(--text-color-dark);

  margin-top: 15px;
  margin-bottom: 30px;
}

.sidebar .avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.sidebar .avatar-box img {
  width: 90px;
  height: 90px;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 1%, rgba(148, 187, 233, 1) 100%);
  border-radius: 20%;
}

.info-content {
  text-align: center;
}



.info-content .name {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--white-1);
}

.info-content .title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--orange-yellow-crayola);

}

.info-content .title {
  text-align: center;
  border: 2px solid var(--link-color);
  /* Add border */
  padding: 10px;
  border-radius: 8px;
  /* Optional: Adjust the border radius as needed */
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}





.contact-section form {
  margin-top: 20px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.contact-section .form-group {
  margin-bottom: 15px;
}

.contact-section .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--white-1);
}

.contact-section .form-group input,
.contact-section .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-section .form-group textarea {
  resize: vertical;
}

.contact-section .btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-section .btn:hover {
  color: var(--orange-yellow-crayola);
}

.contact-section .message {
  margin-top: 20px;
}

.contacts-list {
  padding: 0;
  margin: 0;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1px;
  /* Reduce gap to bring elements closer */
  margin-bottom: 0px;
  /* Reduce margin to bring contacts closer */

}

.contact-info ion-icon {
  border: 2px solid var(--link-color);
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--orange-yellow-crayola);
  margin-right: 6px;
}

.contact-link {
  margin-bottom: 20px;
  /* Reduce margin to bring contacts closer */
  font-size: var(--font-size-small);
  color: var(--text-color-light);
}


#first {
  color: lightslategray;
  font-size: smaller;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-link {
  color: var(--text-color-light);
  font-size: var(--font-size-medium);
  transition: var(--transition-1);
}

.social-link:hover {
  color: var(--orange-yellow-crayola);
}

.main-content {
  flex-grow: 1;
  padding: 20px;

}

.tab {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  border-radius: 0 30px;
  padding: 20px 40px;
  font-size: 1.5rem;
  box-shadow: none;
  border: 2px solid var(--link-color);
  background-color: rgba(255, 255, 255, 0.1)
}

.tabcontent {
  display: none;
}

.separator-section {
  width: 50%;
  height: 2px;
  background: var(--bg-gradient-yellow-1);
  margin-top: 2px;

}

#About {
  display: block;
}

.navbar-list {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.tablinks {
  color: var(--text-color-light);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  transition: var(--transition-1);
}

.tablinks:hover,
.tablinks.active {
  color: var(--orange-yellow-crayola);
}

article {
  display: none;
}


article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

.h2 {
  margin-top: 50px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-light);
}

.about-text,
.experience-text,
.project-text,
.contact-text {
  margin-top: 25px;
}

.tech-stack {
  margin-top: 30px;
}

.techstack-list img {
  width: 50px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.techstack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.techstack-list li {
  margin: 20px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}